// Color
$WHITE: #FFFFFF;
$LIGHT: linear-gradient(0deg, rgba(0, 0, 0, 0.360784), rgba(0, 0, 0, 0.360784)),linear-gradient(0deg, #FFFFFF, #FFFFFF);
$PRIMARY_YELLOW: #FFCC21;
$PRIMARY_ORANGE: #FF963C;
$PRIMARY_ORANGE_DARK: #EA6C00;
$SECONDARY_LIGHT_GREEN: #8FE9D0;
$PRIMARY_YELLOW_GRADIENT: linear-gradient(-136deg, #ff7a00, #ffc823);
$DARK_BOLD: #2E2E2E;
$DARK: #414141;
$GRAY: #777777; 